
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #634b45;
}

.accessibility-hidden{
    display: none;
}

#navBar{
    margin: 0;
    height: 14.75vh;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex-direction: row;
    border-bottom: solid 0.25vh #634b45;
}
    #navBar .nav-bar-option{
        min-width: 200px;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.6em;
        color: #634b45;
        text-decoration: none;
    }

    #navBar .nav-bar-option:hover{
        height: 15vh;
        background-color: #7dc2c8;
        color: white;
        text-decoration: none;
        transition: ease 0.5s;
    }

#logoNavBar{
    height: 100px;
    width: auto;
    margin-bottom: 5px;
}

#header{
    display: flex;
    margin: 0;
    max-width: 100vw;
    height: 85vh;
    justify-content: center;
}

#heroImage{
    width: 100vw;
    object-fit: cover;
    overflow:hidden;
}

#headerLogo{
    height: 200px;
    width: 200px;
}

#heroDescription{
    position: absolute;
    top: 40vh;
    padding: 50px;
    padding-top: 0;
    background-color: rgba(255, 255, 255, 0.877);
    border-radius: 20px;
    text-align: center;
    font-size: 1.6em;
}

    #heroDescription h1{
        margin: 0;
        margin-bottom: 10px;
    }

    #heroDescription p{
        margin: 0;
        margin-bottom: 50px;
    }

#reservationButton{
    font-size: 1.2em;
    text-decoration: none;
    color: #634b45;
    max-width: 200px;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    border: solid 2px #634b45;
}

    #reservationButton:hover {
        background-color: #7dc2c8;
        color: white;
        text-decoration: none;
        transition: ease-in-out 0.5s;
    }

.content-columns{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5em;
}

.content-left{
    max-width: 40vw;
    margin: 2vw;
}

.content-right{
    max-width: 40vw;
    margin: 0 2vw;
}

.content-centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

#fernImage{
    max-width: 40vw;
}

footer{
    display: block;
    max-width: 100vw;
    height: 25vh;
    padding-top: 50px;
    background-color: #634b45;
    color: rgb(255, 255, 255);
}

.footer-top{
    display: flex;
}

.footer-information{
    margin: 0;
    padding: 20px;
}

.footer-information h2{
    margin: 0;
    font-size: 1.5em;
}

.footer-information p{
    margin: 0;
}

#footerLogo{
    max-height: 100px;
}

#footerNav{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-option{
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-option:hover{
    text-decoration: underline;
}